name: Build and push net utility staging image

on:
  pull_request_target:
    branches:
      - 'test-workflow'
    paths:
      - 'containers/utility/Dockerfile'

jobs:
  build-and-push-staging:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    # safe to use pull_request_target because we only run this for trusted collaborators
    if: contains(fromJson('["OWNER","MEMBER","COLLABORATOR"]'), github.event.pull_request.author_association)
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Print hello world
        run: echo "hello world"
